header {
    background: white;
}

h1{
    padding: 5px;
}
div.post{
    background: white;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #f8f9fa;
    border-radius: 8px;
}
div.post img{
    width: 100%;
}
div.post .post-header div:first-child{
    display: inline-block;
    width:79%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width:20%;
    text-align: right;
    padding: 5px;
}
#photofeed{
    width: 600px;
    margin: auto;
}
div.post h2, div.post p{
    padding: 5px;
    margin: 0;
}
p {
    margin: 0%;
}

input{
    border: 0ch;
    outline: none;
    width: 94.5%;
    margin-bottom: 10px;
}

.post {
    
    padding-bottom: 10px;
}

input:focus{
    border: 0ch;
}

.row img {
    vertical-align: none;
    padding: 2px;
    border-radius: 2px;
}